In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../dados_silver_csv/v1_sem_duplicatas.csv")
df.head()

,model,year,region,color,fuel_type,base_price_usd,horsepower,sales_volume,turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes

In [7]:
gold_ml = df.copy()

gold_ml['horsepower_scaled'] = (gold_ml['horsepower'] - gold_ml['horsepower'].mean()) / gold_ml['horsepower'].std()
gold_ml['price_scaled'] = (gold_ml['base_price_usd'] - gold_ml['base_price_usd'].mean()) / gold_ml['base_price_usd'].std()
gold_ml['year_scaled'] = (gold_ml['year'] - gold_ml['year'].min()) / (gold_ml['year'].max() - gold_ml['year'].min())

gold_ml = pd.get_dummies(
    gold_ml, 
    columns=['model', 'color', 'fuel_type', 'region'], 
    prefix=['model', 'color', 'fuel', 'region'],
    drop_first=True  
)


features = gold_ml.drop(columns=['base_price_usd', 'turbo'])
target = gold_ml['base_price_usd']
features.to_parquet('../../gold/ml_features.parquet', compression='snappy')


target_df = pd.DataFrame(target)  
target_df.to_parquet('../../gold/ml_target.parquet', compression='snappy')

print(f"features ML: {features.shape[1]} colunas")

features ML: 34 colunas