In [1]:
import pandas as pd

In [11]:
df2 = pd.read_csv("dados_bruto.csv")
df2.to_parquet('bruto_parquet.parquet')

In [12]:
df2.head()

,Model,Year,Region,Color,Fuel Type,Base Price (USD),Horsepower,Sales Volume,Turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes

In [2]:
df = pd.read_csv("dados_bruto.csv")
df.head(10)

,Model,Year,Region,Color,Fuel Type,Base Price (USD),Horsepower,Sales Volume,Turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes
5,A-Class,2020,Global,Black,Petrol,66551,393,1,Yes
6,A-Class,2020,Global,White,Diesel,56777,316,1,Yes
7,A-Class,2020,Global,Yellow,Diesel,58897,414,1,Yes
8,A-Class,2020,Global,Black,Diesel,79974,413,1,Yes
9,A-Class,2020,Global,Black,Petrol,36021,151,1,Yes

In [3]:
df.columns

Index(['Model', 'Year', 'Region', 'Color', 'Fuel Type', 'Base Price (USD)',
       'Horsepower', 'Sales Volume', 'Turbo'],
      dtype='object')

In [4]:
# arrumando os nomes das colunas
df.columns = df.columns.str.lower()

In [5]:
df.head()

,model,year,region,color,fuel type,base price (usd),horsepower,sales volume,turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes

In [6]:
df.columns = df.columns.str.replace(' ', '_')

In [7]:
df.head()

,model,year,region,color,fuel_type,base_price_(usd),horsepower,sales_volume,turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes

In [8]:
df = df.rename(columns={'base_price_(usd)': 'base_price_usd'})

In [10]:
df.head()

,model,year,region,color,fuel_type,base_price_usd,horsepower,sales_volume,turbo
0,A-Class,2020,Global,Yellow,Diesel,41265,252,1,Yes
1,A-Class,2020,Global,Black,Petrol,51023,249,1,No
2,A-Class,2020,Global,Grey,Petrol,72819,341,1,Yes
3,A-Class,2020,Global,Black,Petrol,62480,385,1,Yes
4,A-Class,2020,Global,White,Petrol,35189,337,1,Yes

In [16]:
df.isnull().sum()

model             0
year              0
region            0
color             0
fuel_type         0
base_price_usd    0
horsepower        0
sales_volume      0
turbo             0
dtype: int64

In [20]:
df.duplicated().sum()

np.int64(3153)

In [21]:
total_registros = len(df)
registros_unicos = df.drop_duplicates().shape[0]
print(f"total: {total_registros}")
print(f"unicos: {registros_unicos}")
print(f"duplicatas: {total_registros - registros_unicos}")

total: 12132666
unicos: 12129513
duplicatas: 3153

In [23]:
df.to_csv('../silver/v1_com_duplicatas.csv', index=False)

In [24]:
df_sem_duplicata = df.drop_duplicates()

In [26]:
df_sem_duplicata.duplicated().sum()

np.int64(0)

In [27]:
df_sem_duplicata.to_csv('../silver/v1_sem_duplicatas.csv', index=False)

In [ ]:
df_sem_duplicata.to_parquet(
    '../silver/v1_sem_duplicatas.parquet', 
    index=False,
    compression='snappy'  
)

In [29]:
df.to_parquet(
    '../silver/v1_com_duplicatas.parquet', 
    index=False,
    compression='snappy' 
)